<section id="dashboard-view" class="mainbar" data-ng-controller="createListingCampaignUrl as vm">
    <section class="matter">
        <div class="container">

            <form name="createCampaignUrls" novalidate ng-submit="vm.saveListingCampaignUrls()">
                <div class="btn-toolbar" role="toolbar">
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="createCampaignUrls.selectListing.$invalid || createCampaignUrls.selectSocialMediaSite.$invalid || createCampaignUrls.url.$invalid || createCampaignUrls.username.$invalid || createCampaignUrls.password.$invalid || vm.listingCampaignUrls.length == 0">
                            <!--ng-disabled="createCampaignUrls.selectListing.$pristine || createCampaignUrls.selectSocialMediaSite.$pristine || createCampaignUrls.url.$pristine || createCampaignUrls.username.$pristine || createCampaignUrls.password.$pristine || vm.listingCampaignUrls.length == 0"-->
                            Save
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="vm.backToDocket()">
                            Docket
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Create Listing Campaign Urls" allow-collapse="false"></div>
                        <div class="widget-content text-info">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="control-label">Which listing is associated with this campaign?</label>
                                </div>
                                <div class="col-md-4">
                                    <select name="selectListing" data-ng-model="vm.selectedListing" ng-change="vm.listingChanged()" data-ng-options="listing.streetnumber + ' ' + listing.streetdesignator + ' ' + listing.streetname for listing in vm.listings" required>
                                        <option value="">Select Listing</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-show="createCampaignUrls.selectListing.$pristine || createCampaignUrls.selectListing.$dirty && createCampaignUrls.selectListing.$invalid">
                                Listing is a required field.  Please select a listing.
                            </div>

                            <!-- URL Content -->
                            <div ng-show="vm.selectedListing != null">
                                <div class="row">&nbsp;</div>
                                <h4>Campaign Urls</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row" ng-show="vm.listingCampaignUrls.length > 0">
                                            <div class="col-md-2">Site</div>
                                            <div class="col-md-3">Url</div>
                                            <div class="col-md-3">Username</div>
                                            <div class="col-md-3">Password</div>
                                        </div>
                                        <div class="row" style="margin-top: 8px;" ng-repeat="url in vm.listingCampaignUrls">
                                            <div class="col-md-2">
                                                <select name="selectSocialMediaSite" data-ng-model="url.socialMediaSiteId" ng-change="vm.socialMediaSiteChanged($index)" data-ng-options="y.id as y.name for y in vm.socialmediasites" class="form-control" required>
                                                    <option value="">Select Site</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3"><input class="form-control" name="url" ng-model="url.url" required></div>
                                            <div class="col-md-3"><input class="form-control" name="username" ng-model="url.userName" required></div>
                                            <div class="col-md-3"><input class="form-control" name="password" ng-model="url.password" required></div>
                                            <div class="col-md-1"><button ng-click="vm.listingCampaignUrls.splice($index, 1)" class="btn-warning btn-mini"><i class="fa fa-minus"></i></button></div>
                                        </div>
                                        <div class="row" ng-show="vm.listingCampaignUrls.length < 5">
                                            <div class="col-md-11">&nbsp;</div>
                                            <div class="col-md-1"><button type="button" ng-click="vm.addUrlToCampaign()" class="btn-info btn-mini"><i class="fa fa-plus"></i></button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row" ng-show="vm.listingCampaignUrls.length == 0">
                                    <div class="col-md-12">Click the + button to add up to {{ vm.urlMax }} URLs to the campaign</div>
                                </div>
                                <div class="row" ng-show="vm.listingCampaignUrls.length > 0 && vm.listingCampaignUrls.length != 5 && createCampaignUrls.$valid">
                                    <div class="col-md-12">Ready to save when you are OR you can keep adding up to {{ vm.urlMax-vm.listingCampaignUrls.length }} more URLs</div>
                                </div>
                                <div class="row" ng-show="vm.listingCampaignUrls.length == 5 && createCampaignUrls.$valid">
                                    <div class="col-md-12">You've reached the maximum of {{ vm.urlMax }} URLs.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>